Source: collectd
Section: utils
Priority: optional
Maintainer: Sebastian Harl <tokkee@debian.org>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.14.10),
 bison, flex, dh-autoreconf, libltdl-dev, pkg-config,
 dh-systemd,
 javahelper,
 libcurl4-gnutls-dev | libcurl3-gnutls-dev,
 libcurl-devel,
 libmysqlclient-dev,
 libopenipmi-dev,
 liboping-dev (>= 0.3.3),
 libsnmp-dev | libsnmp9-dev,
 libxml2-dev,
 libyajl-dev,
 libatasmart-dev,
 libglib2.0-dev,
 libudev-dev,
 libhiredis-dev,
 libmnl-dev,
 linux-libc-dev,
 librdkafka-dev,
 libdbi-dev,
 libpcap-dev,
 libsensors4-dev,
 default-jdk,
 protobuf-c-compiler, libprotobuf-c-dev | libprotobuf-c0-dev,
 libriemann-client-dev,
 python-dev
Build-Conflicts: libpthread-dev, libhal-dev
Standards-Version: 3.9.5
Homepage: http://collectd.org/
Vcs-Git: git://git.tokkee.org/pkg-collectd.git
Vcs-Browser: http://git.tokkee.org/?p=pkg-collectd.git

Package: collectd-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre-headless
Suggests: ${shlibs:Suggests}, perl, rrdtool
Replaces: collectd (<< 4.8.2-1~)
Description: statistics collection and monitoring daemon (core system)
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 The collected information can be used to find current performance bottlenecks
 (performance analysis) and predict future system load (capacity planning).
 .
 This package contains the main program file and many plugins.

Package: collectd
Architecture: any
Depends: collectd-core (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: ${shlibs:Recommends}, default-jre-headless
Description: statistics collection and monitoring daemon
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 The collected information can be used to find current performance bottlenecks
 (performance analysis) and predict future system load (capacity planning).
 .
 This package provides a full installation of the daemon, including the
 configuration. For the core system, see the "collectd-core" package, which
 allows sites to, e.g., provide customizations (like a custom default
 configuration) on top of it without having to modify the "collectd" package.

Package: collectd-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: collectd
Suggests: nagios3 | nagios2
Description: statistics collection and monitoring daemon (utilities)
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 This package contains the following utility:
 .
   * collectdctl: Control interface for collectd
   * collectd-nagios: Nagios plugin for querying collectd

Package: collectd-dbg
Section: debug
Architecture: any
Priority: extra
Depends: collectd-core (= ${binary:Version}), ${misc:Depends}
Recommends: collectd-utils (= ${binary:Version}),
 libcollectdclient1 (= ${binary:Version})
Description: statistics collection and monitoring daemon (debugging symbols)
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 This package contains the debugging symbols.

Package: collectd-dev
Architecture: all
Depends: collectd-core (= ${source:Version}), ${misc:Depends}
Description: statistics collection and monitoring daemon (development files)
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 This package contains the development files needed to create your own
 plugins.

Package: libcollectdclient-dev
Section: libdevel
Architecture: any
Depends: libcollectdclient1 (= ${binary:Version}), ${misc:Depends}
Description: client library for collectd's control interface (development files)
 libcollectdclient provides an API to access the control interface provided by
 the unixsock plugin of collectd, a statistics collection and monitoring
 daemon. It can be used to access values collected by collectd or dispatch new
 values and notifications to the daemon. This allows for integration with
 other applications such as monitoring solutions.
 .
 This package contains the header files and the static library.

Package: libcollectdclient1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: collectd
Description: client library for collectd's control interface
 libcollectdclient provides an API to access the control interface provided by
 the unixsock plugin of collectd, a statistics collection and monitoring
 daemon. It can be used to access values collected by collectd or dispatch new
 values and notifications to the daemon. This allows for integration with
 other applications such as monitoring solutions.
 .
 This package contains the shared library.
