#! /usr/bin/make -f

# There is no way to tell lt_dlopen() to use the RTLD_GLOBAL flag which is
# however required by the perl plugin (which would otherwise be unable to find
# symbols defined in libperl when loading perl modules that require such
# symbols). This is a workaround for this issue.
DEB_CPPFLAGS_MAINT_APPEND += -DLT_LAZY_OR_NOW="RTLD_LAZY|RTLD_GLOBAL"

# Upstream defaults to ${sysconfdir}/collectd.conf. Setting ${sysconfdir} to
# /etc/collectd would be wrong though.
DEB_CPPFLAGS_MAINT_APPEND += -UCONFIGFILE
DEB_CPPFLAGS_MAINT_APPEND += -DCONFIGFILE='"/etc/collectd/collectd.conf"'

export DEB_CPPFLAGS_MAINT_APPEND

confflags = --host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--localstatedir=/var --sysconfdir=/etc \
		--with-perl-bindings="INSTALLDIRS=vendor INSTALL_BASE=" \
		--without-libstatgrab \
		--without-included-ltdl \
		--disable-static \
		--disable-all-plugins

confflags += --enable-aggregation # Aggregation plugin
# confflags += --enable-amqp # AMQP output plugin
# confflags += --enable-apache # Apache httpd statistics
# confflags += --enable-apcups # Statistics of UPSes by APC
# confflags += --enable-apple_sensors # Apple's hardware sensors
# confflags += --enable-aquaero # Aquaero's hardware sensors
# confflags += --enable-ascent # AscentEmu player statistics
# confflags += --enable-barometer # Barometer sensor on I2C
# confflags += --enable-battery # Battery statistics
# confflags += --enable-bind # ISC Bind nameserver statistics
# confflags += --enable-ceph # Ceph daemon statistics
confflags += --enable-conntrack # nf_conntrack statistics
confflags += --enable-contextswitch # context switch statistics
confflags += --enable-cpufreq # CPU frequency statistics
confflags += --enable-cpu # CPU usage statistics
confflags += --enable-csv # CSV output plugin
confflags += --enable-curl # CURL generic web statistics
confflags += --enable-curl_json # CouchDB statistics
confflags += --enable-curl_xml # CURL generic xml statistics
confflags += --enable-cgroups # CGroups CPU usage accounting
confflags += --enable-dbi # General database statistics
confflags += --enable-df # Filesystem usage statistics
confflags += --enable-disk # Disk usage statistics
# confflags += --enable-drbd # DRBD statistics
confflags += --enable-dns # DNS traffic analysis
# confflags += --enable-email # EMail statistics
# confflags += --enable-entropy # Entropy statistics
# confflags += --enable-ethstat # Stats from NIC driver
confflags += --enable-exec # Execution of external programs
# confflags += --enable-fhcount # File handles statistics
confflags += --enable-filecount # Count files in directories
# confflags += --enable-fscache # fscache statistics
# confflags += --enable-gmond # Ganglia plugin
# confflags += --enable-hddtemp # Query hddtempd
confflags += --enable-interface # Interface traffic statistics
# confflags += --enable-ipc # IPC statistics
confflags += --enable-ipmi # IPMI sensor statistics
# confflags += --enable-iptables # IPTables rule counters
# confflags += --enable-ipvs # IPVS connection statistics
confflags += --enable-irq # IRQ statistics
confflags += --enable-load # System load
confflags += --enable-logfile # File logging plugin
confflags += --enable-log_logstash # Logstash json_event compatible logging
# confflags += --enable-lpar # AIX logical partitions statistics
# confflags += --enable-lvm # LVM statistics
# confflags += --enable-madwifi # Madwifi wireless statistics
confflags += --enable-match_empty_counter # The empty counter match
confflags += --enable-match_hashed # The hashed match
confflags += --enable-match_regex # The regex match
confflags += --enable-match_timediff # The timediff match
confflags += --enable-match_value # The value match
# confflags += --enable-mbmon # Query mbmond
confflags += --enable-md # md (Linux software RAID) devices
# confflags += --enable-memcachec # memcachec statistics
# confflags += --enable-memcached # memcached statistics
confflags += --enable-memory # Memory usage
# confflags += --enable-mic # Intel Many Integrated Core stats
# confflags += --enable-modbus # Modbus plugin
# confflags += --enable-multimeter # Read multimeter values
confflags += --enable-mysql # MySQL statistics
# confflags += --enable-netapp # NetApp plugin
confflags += --enable-netlink # Enhanced Linux network statistics
confflags += --enable-network # Network communication plugin
# confflags += --enable-nfs # NFS statistics
confflags += --enable-nginx # nginx statistics
# confflags += --enable-notify_desktop # Desktop notifications
# confflags += --enable-notify_email # Email notifier
# confflags += --enable-ntpd # NTPd statistics
# confflags += --enable-numa # NUMA virtual memory statistics
# confflags += --enable-nut # Network UPS tools statistics
# confflags += --enable-olsrd # olsrd statistics
# confflags += --enable-onewire # OneWire sensor statistics
# confflags += --enable-openldap # OpenLDAP statistics
# confflags += --enable-openvpn # OpenVPN client statistics
# confflags += --enable-oracle # Oracle plugin
# confflags += --enable-perl # Embed a Perl interpreter
# confflags += --enable-pf # BSD packet filter (PF) statistics
# confflags += --enable-pinba # Pinba statistics
confflags += --enable-ping # Network latency statistics
# confflags += --enable-postgresql # PostgreSQL database statistics
# confflags += --enable-powerdns # PowerDNS statistics
confflags += --enable-processes # Process statistics
# confflags += --enable-protocols # Protocol (IP, TCP, ...) statistics
confflags += --enable-python # Embed a Python interpreter
confflags += --enable-redis # Redis plugin
# confflags += --enable-routeros # RouterOS plugin
# confflags += --enable-rrdcached # RRDTool output plugin
# confflags += --enable-rrdtool # RRDTool output plugin
# confflags += --enable-sensors # lm_sensors statistics
# confflags += --enable-serial # serial port traffic
# confflags += --enable-sigrok # sigrok acquisition sources
confflags += --enable-smart # SMART statistics
confflags += --enable-snmp # SNMP querying plugin
# confflags += --enable-statsd # StatsD plugin
confflags += --enable-swap # Swap usage statistics
confflags += --enable-syslog # Syslog logging plugin
# confflags += --enable-table # Parsing of tabular data
# confflags += --enable-tail # Parsing of logfiles
# confflags += --enable-tail_csv # Parsing of CSV files
# confflags += --enable-tape # Tape drive statistics
# confflags += --enable-target_notification # The notification target
# confflags += --enable-target_replace # The replace target
# confflags += --enable-target_scale # The scale target
# confflags += --enable-target_set # The set target
# confflags += --enable-target_v5upgrade # The v5upgrade target
# confflags += --enable-tcpconns # TCP connection statistics
# confflags += --enable-teamspeak2 # TeamSpeak2 server statistics
# confflags += --enable-ted # Read The Energy Detective values
# confflags += --enable-thermal # Linux ACPI thermal zone statistics
confflags += --enable-threshold # Threshold checking plugin
# confflags += --enable-tokyotyrant # TokyoTyrant database statistics
# confflags += --enable-turbostat # Advanced statistic on Intel cpu states
confflags += --enable-unixsock # Unixsock communication plugin
# confflags += --enable-uptime # Uptime statistics
# confflags += --enable-users # User statistics
# confflags += --enable-uuid # UUID as hostname plugin
# confflags += --enable-varnish # Varnish cache statistics
# confflags += --enable-virt # Virtual machine statistics
# confflags += --enable-vmem # Virtual memory statistics
# confflags += --enable-vserver # Linux VServer statistics
# confflags += --enable-wireless # Wireless statistics
confflags += --enable-write_graphite # Graphite / Carbon output plugin
# confflags += --enable-write_http # HTTP output plugin
 confflags += --enable-write_kafka # Kafka output plugin
# confflags += --enable-write_log # Log output plugin
# confflags += --enable-write_mongodb # MongoDB output plugin
# confflags += --enable-write_redis # Redis output plugin
confflags += --enable-write_riemann # Riemann output plugin
# confflags += --enable-write_sensu # Sensu output plugin
# confflags += --enable-write_tsdb # TSDB output plugin
# confflags += --enable-xmms # XMMS statistics
# confflags += --enable-zfs_arc # ZFS ARC statistics
# confflags += --enable-zookeeper # Zookeeper statistics

# Java stuff
confflags += --enable-java # Embed the Java Virtual Machine
confflags += --with-java=/usr/lib/jvm/default-java

%:
	dh $@ --with autoreconf,systemd

override_dh_auto_configure:
	# This is a work-around for #474087 (broken openipmi .pc files).
	mkdir debian/pkgconfig
	sed -re 's/^(Requires:.*) pthread(.*)$$/\1\2/' \
		/usr/lib/pkgconfig/OpenIPMIpthread.pc \
		> debian/pkgconfig/OpenIPMIpthread.pc
	PKG_CONFIG_PATH="$(CURDIR)/debian/pkgconfig" dh_auto_configure -- $(confflags)

override_dh_auto_clean:
	rm -rf debian/pkgconfig
	dh_auto_clean

override_dh_installinit:
	dh_installinit -pcollectd-core --name=collectd -- defaults 95

override_dh_strip:
	dh_strip --dbg-package=collectd-dbg

override_dh_systemd_enable:
	dh_systemd_enable --name=collectd
